<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<table  border="2" class="container">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>NameOfActivity</th>
        <th>Amount</th>
        <th>comment</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="activity : ${activities}">
        <td th:text="${activity.id}"></td>
        <td th:text="${activity.date}"></td>
        <td th:text="${activity.nameOfActivity}"></td>
        <td th:text="${activity.amount}"></td>
        <th th:text="${activity.comment}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>