<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<table border="2" class="container">
    <thead>
    <tr>
        <th>Id</th>
        <th>Names</th>
        <th>PersonalType</th>
        <th>userName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Activities</th>
    </tr>
    </thead>
    <tbod>
        <tr th:each="user :${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.names}"></td>
            <td th:text="${user.personType}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.activities.nameOfActivity}"></td>

        </tr>
    </tbod>
</table>

</body>
</html>